*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://images.unsplash.com/photo-1498050108023-c5249f4df085); /* Anda bisa ganti URL gambar ini */
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover{
    color: #ff7200;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 100px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    line-height: 80px;
}

.content span{
    color: #ff7200;
    font-size: 75px;
}

.content .par{
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 25px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}